{% extends 'base.html' %}
{% block content %}

<form action="/process_login" method="POST" id="process-login-form">
    <p>First time users this will create your login.
    Returning users this form will log you into the system.
    </p>
    <label for="email">Email</label>
    <input type="email" name="user-email" placeholder="user@gamil.com">
    <label for="password">Password</label>
    <input type="password" name="user-password">
    <input type="submit" value="log in">
</form>
<div>
<p><button name="movie_list"><a href="/movies">Movie Database</a></button></p>
<p><button name="user_list"><a href="/users">User List</a></button></p>
{% endblock %} 